@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 400vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    

    @media screen and (max-width: 1200px) {
        height: 100vh;
        }

    #tag{
        position: absolute;
        top : 0;
        height: 0;
        width: 0;
    }

    h1, h2, h3, a{
        font-family: 'Libre Baskerville', serif;
        text-decoration: none;
        margin: 0;
    }

    h2{
        text-align: center;
    }

    main{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;

        min-width: 350px;
        min-height: 635px;

        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        transition: all ease-out 0.5s;

        @media (max-aspect-ratio: 12/16) {
            overflow-y: scroll;
            }

        .contact{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: 10px 20px;
            width: fit-content;
            border: 3px solid transparent;

            background-color: black;
            color: white;

            @media (max-aspect-ratio: 12/16) {
                font-size: 5vw;
                line-height: 7vw;
                }
        }
        
        #bandeau{
            position: absolute;
            background-color: #F5F1D2;
            
            height: 100vh;
            width: 400px;
            z-index: -99;

            @media (max-aspect-ratio: 12/16) {
                width: 100vw;
                height: 150vh;
                }
        }

        #notch{
            background-color: black;
            width: 50%;
            height: 30px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            opacity: 1;
            transform: translateY(-40px);
            transition: transform 0.5s;
        }

        nav{
            width: 90%;
            margin: 20px 5%;
            display: flex;

            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            :first-child{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: black;

                @media (max-aspect-ratio: 12/16) {
                    font-size: 5vw;
                    line-height: 6vw;
                    }
            }
        }

        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 75%;
            transition: all 1s;
            
            margin: auto 0;

            gap: 40px;

            h1{
                transition: all 1s;
                font-style: normal;
                font-weight: 700;
                font-size: 48.83px;
                line-height: 61px;
                text-align: center;

                @media (max-aspect-ratio: 12/16) {
                    font-size: 9vw;
                    line-height: 10vw;
                    }
            }

            h2{
                transition: all 1s;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;

                @media (max-aspect-ratio: 12/16) {
                    font-size: 4vw;
                    line-height: 5vw;
                    }
            }
        }

        .scroll{
            transition: all 1s;
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: mixed;

            left: 5vw;
            top: 65vh;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            font-style: normal;
            font-weight: 700;
            font-size: 12.8px;
            line-height: 16px;

            background-color: transparent;
            border: 0;

            @media screen and (max-width: 1200px) {
                display: none;
                }
        }

        .social-media{
            
            position: absolute;
            right: 5vw;
            top: 50vh;
            gap: 10px;

            display: flex;
            flex-direction: column;

            svg{
                color: black;
                width: 42px;
                height: 42px;
            }

            @media (max-aspect-ratio: 12/16) {
                display: none;
                }
        }

        #project{

            margin-bottom: 40px;
            display: flex;
            width: 80%;

            a{
                width: 33.3%;
            }

            > :nth-child(2){
                img{
                    transition: all 0.5s;
                    &:hover{
                        transform: translateY(10px);
                    }
                }
            }

            > :nth-child(1){
                    transition: all 0.5s;
                    transform: rotate(-25deg) translateY(60px) translateX(-20px);
                    &:hover{
                        transform: rotate(-25deg) translateY(70px) translateX(-20px);
                    }
            }

            > :nth-child(3){
                img{
                    transition: all 0.5s;
                    transform: rotate(25deg) translateY(60px) translateX(20px);
                    &:hover{
                        transform: rotate(25deg) translateY(70px) translateX(20px);
                    }
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            @media (max-aspect-ratio: 12/16) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
                height: 400px;
                transform: translateY(-10vh);

                a{
                    width: 66vw;
                    transform: none !important;

                    img{
                        transform: none !important;
                    }
                }
                }
        }

        &.ipad{
            h1{
                font-size: 31.25px;
                line-height: 34px;
                overflow-wrap: break-word;
            }

            h2{
                display: none;
            }

            .scroll{
                top: 40vh;
            }
        }

        &.iphone{

            #notch{
                opacity: 1;
                transform: none;
            }

            border-radius: 25px !important;

            h1{
                font-size: 22px;
                line-height: 26px;
            }

            section{
                margin-top: 70px;
                margin-bottom: 150px;
            }

            .scroll{
                opacity: 0;
            }

            .social-media{
                right: 20px;
            }
            
        }
    }

    #info{
        position: fixed;
        top: 0px;

        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 80vh;
        margin-top: 10vh;
        transform: translateX(100vw);
        transition: transform ease-out 0.5s;

        p, h3, ul, h1{
            color: white;
            margin: 0;
        }

        h1{
            font-size: 7vw;
            text-decoration: underline;
        }

        h3{
            font-family: 'Public Sans', sans-serif;
            font-size: 22px;
            opacity: .7;
            margin-bottom: 40px;
        }

        p, ul {
            font-family: 'Public Sans', sans-serif;
            white-space:pre-line;
            font-size: 16px;
        }

        #project-info{

            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 10px;
            align-items: center;
            margin-top: 40px;

            img{
                width: 15vw;
                object-fit: cover;
                transition: all 0.5s ease;
                border-radius: 5px;

                &:hover{
                    transform: translateY(10px);
                }
            }
        }
    }
}