@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 400vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  body {
    height: 100vh;
  }
}
body #tag {
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
}
body h1, body h2, body h3, body a {
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  margin: 0;
}
body h2 {
  text-align: center;
}
body main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  min-width: 350px;
  min-height: 635px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all ease-out 0.5s;
}
@media (max-aspect-ratio: 12/16) {
  body main {
    overflow-y: scroll;
  }
}
body main .contact {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  width: fit-content;
  border: 3px solid transparent;
  background-color: black;
  color: white;
}
@media (max-aspect-ratio: 12/16) {
  body main .contact {
    font-size: 5vw;
    line-height: 7vw;
  }
}
body main #bandeau {
  position: absolute;
  background-color: #F5F1D2;
  height: 100vh;
  width: 400px;
  z-index: -99;
}
@media (max-aspect-ratio: 12/16) {
  body main #bandeau {
    width: 100vw;
    height: 150vh;
  }
}
body main #notch {
  background-color: black;
  width: 50%;
  height: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 1;
  transform: translateY(-40px);
  transition: transform 0.5s;
}
body main nav {
  width: 90%;
  margin: 20px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body main nav :first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
@media (max-aspect-ratio: 12/16) {
  body main nav :first-child {
    font-size: 5vw;
    line-height: 6vw;
  }
}
body main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  transition: all 1s;
  margin: auto 0;
  gap: 40px;
}
body main section h1 {
  transition: all 1s;
  font-style: normal;
  font-weight: 700;
  font-size: 48.83px;
  line-height: 61px;
  text-align: center;
}
@media (max-aspect-ratio: 12/16) {
  body main section h1 {
    font-size: 9vw;
    line-height: 10vw;
  }
}
body main section h2 {
  transition: all 1s;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
@media (max-aspect-ratio: 12/16) {
  body main section h2 {
    font-size: 4vw;
    line-height: 5vw;
  }
}
body main .scroll {
  transition: all 1s;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 5vw;
  top: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 16px;
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 1200px) {
  body main .scroll {
    display: none;
  }
}
body main .social-media {
  position: absolute;
  right: 5vw;
  top: 50vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
body main .social-media svg {
  color: black;
  width: 42px;
  height: 42px;
}
@media (max-aspect-ratio: 12/16) {
  body main .social-media {
    display: none;
  }
}
body main #project {
  margin-bottom: 40px;
  display: flex;
  width: 80%;
}
body main #project a {
  width: 33.3%;
}
body main #project > :nth-child(2) img {
  transition: all 0.5s;
}
body main #project > :nth-child(2) img:hover {
  transform: translateY(10px);
}
body main #project > :nth-child(1) {
  transition: all 0.5s;
  transform: rotate(-25deg) translateY(60px) translateX(-20px);
}
body main #project > :nth-child(1):hover {
  transform: rotate(-25deg) translateY(70px) translateX(-20px);
}
body main #project > :nth-child(3) img {
  transition: all 0.5s;
  transform: rotate(25deg) translateY(60px) translateX(20px);
}
body main #project > :nth-child(3) img:hover {
  transform: rotate(25deg) translateY(70px) translateX(20px);
}
body main #project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-aspect-ratio: 12/16) {
  body main #project {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 400px;
    transform: translateY(-10vh);
  }
  body main #project a {
    width: 66vw;
    transform: none !important;
  }
  body main #project a img {
    transform: none !important;
  }
}
body main.ipad h1 {
  font-size: 31.25px;
  line-height: 34px;
  overflow-wrap: break-word;
}
body main.ipad h2 {
  display: none;
}
body main.ipad .scroll {
  top: 40vh;
}
body main.iphone {
  border-radius: 25px !important;
}
body main.iphone #notch {
  opacity: 1;
  transform: none;
}
body main.iphone h1 {
  font-size: 22px;
  line-height: 26px;
}
body main.iphone section {
  margin-top: 70px;
  margin-bottom: 150px;
}
body main.iphone .scroll {
  opacity: 0;
}
body main.iphone .social-media {
  right: 20px;
}
body #info {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  margin-top: 10vh;
  transform: translateX(100vw);
  transition: transform ease-out 0.5s;
}
body #info p, body #info h3, body #info ul, body #info h1 {
  color: white;
  margin: 0;
}
body #info h1 {
  font-size: 7vw;
  text-decoration: underline;
}
body #info h3 {
  font-family: "Public Sans", sans-serif;
  font-size: 22px;
  opacity: 0.7;
  margin-bottom: 40px;
}
body #info p, body #info ul {
  font-family: "Public Sans", sans-serif;
  white-space: pre-line;
  font-size: 16px;
}
body #info #project-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin-top: 40px;
}
body #info #project-info img {
  width: 15vw;
  object-fit: cover;
  transition: all 0.5s ease;
  border-radius: 5px;
}
body #info #project-info img:hover {
  transform: translateY(10px);
}

/*# sourceMappingURL=main.css.map */
